@import url(//fonts.googleapis.com/css?family=Open+Sans);

:root{
  --dark-color:#444;
  --darker-color:#222;
  --light-color:#FFF;
  --pseudo-light-color:#CCC;
  --main-font:"Roboto";
  --main-font-weight:300;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:  var(--pseudo-light-color)!important;
  font-style:italic;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--pseudo-light-color)!important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--pseudo-light-color)!important;
}

.button{
  font-weight: 300 !important;
}

#__BVID__3__BV_tab_controls_{
  display:none;
}

.b-toast.b-toast-solid .toast{
  color:var(--light-color);
  font-size:100%;
  border-radius: 0px;
  padding:0.5rem;
  background-color:var(--dark-color);
  border:var(--light-color);
  border:1px solid var(--light-color);
  font-family:var(--main-font);
  font-weight:var(--main-font-weight);
}

.b-toast.b-toast-solid .toast-header{
  color:var(--light-color);
  font-weight: var(--main-font-weight) !important;
  background-color:var(--dark-color);
  font-family:var(--main-font);
}

.b-toast.b-toast-solid .toast-header .close{
  color:var(--light-color);
  opacity:0.9;
}

.b-toast.b-toast-solid .toast-header .close:hover{
  opacity:1;
}

.modal-content{
  background-color:var(--dark-color);
  color:var(--light-color);
  border-radius:0;
  border:1px solid var(--light-color);
  font-weight:300;
  text-align: justify;
}

.modal-header .close{
  color:var(--light-color);
  opacity:0.9;
}

.modal-header .close:hover{
  opacity:1;
}

.vue-simple-markdown{
  color:var(--light-color);
  text-align: justify;
}

body{
  background-color: var(--dark-color) !important;
}

#appli{
  color:var(--light-color) !important;
  font-family: 'Roboto','AvenirLight', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border:none;
  overflow-y: visible;
  text-align: center !important;
  font-weight: 300 !important;
  /* color: #2c3e50; */
  padding:1rem;
}

.text-panel{
  font-size:2rem;
}

.text-sm{
  font-size:1.5rem;
  font-style:italic;
}

.step{
  height:70vh;
}

.step-higher{
  height:80vh;
}

.button:focus,.button:active {
  box-shadow: none !important;
}

.button:active{
  background-color:var(--darker-color) !important;
}

.button{
  color:var(--light-color) !important;
  border-color:var(--light-color) !important;
  background-color: transparent !important;
  transition: all ease-in 200ms;
}

.button:hover{
  color:var(--dark-color) !important;
  border-color:var(--light-color) !important;
  background-color: var(--light-color) !important;
}


.form-control{
  font-size:1.5rem!important;
  border-radius: 200px !important;
  color:var(--light-color) !important;
  background-color:var(--dark-color) !important;
  font-weight:300 !important;
  transition:all ease-in 300ms;
}
.form-control:focus,.form-control:active {
  outline:none;
  border-color:var(--light-color) !important;
  box-shadow: none !important;
  /* background-color: var(--light-color) !important; */
  /* color:var(--dark-color) !important; */
  transition:all ease-in 300ms;
}

.form-control:hover{
  border-color:var(--light-color) !important;
  transition:all ease-in 300ms;
}

.text-lg{
  font-size: 120%;
  font-weight: bold;
  line-height: 3rem;
}
.main{
  font-size:2rem;
}
.little-link{
  text-align:left;
  font-size: 1rem;
}

.cgu{
  text-align: justify;
}
.container{
  font-size:1rem;
  overflow-y: scroll;
  text-align: justify !important;
  height:80%;
  border:1px solid var(--light-color);
}
